:root {
    --light-color: #FAFAF5;
    --grey-color: #5C5C5C;
}

body {
    margin: 0;
    padding: 0;
    background: var(--light-color);
}

header {
    width: 100%;
    height: 112px;
    background: var(--grey-color);
    box-shadow: 0px 10px 7px #00000050;

    display: flex;
    align-items: center;
}

#header-title-holder {
    width: 30%;
    min-width: 320px;
    background: transparent;

    display: flex;
    flex-direction: row;
    align-items: center;
}

#header-links-holder {
    width: 70%;
    background: transparent;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

#header-title {
    font-family: "Newsreader", serif;
    font-weight: 400;
    color: var(--light-color);
    font-size: 30px;
    padding-top: 5px;
}

#logo-img {
    margin-left: 40px;
    margin-right: 20px;
    height: 42px;
}

@media screen and (min-width: 900px) {
    .header-link {
        visibility: visible;
    }
}

@media screen and (max-width: 900px) {
    .header-link {
        visibility: hidden;
    }
}

.header-link {
    color: var(--light-color);
    text-decoration: none;
    font-family: "Inter", serif;
    font-size: 16px;
    padding-top: 5px;
}

.header-link:not(:last-child) {
    margin-right: 67px;
}

.header-link:last-child {
    margin-right: 15px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-img-container {
    width: 80%;
    max-width: 896px;
}

#main-people-img {
    width: 100%;
    max-width: 896px;
    height: auto;
}

@media screen and (min-width: 850px) {
    main {
        padding-top: 120px;
    }

    #main-people-img {
        border-radius: 15vh;
    }
}

@media screen and (max-width: 850px) and (min-width: 500px) {
    main {
        padding-top: 80px;
    }

    #main-people-img {
        border-radius: 8vh;
    }
}

@media screen and (max-width: 500px) {
    main {
        padding-top: 40px;
    }

    #main-people-img {
        border-radius: 4vh;
    }
}