:root {
    --light-color: #FAFAF5;
    --grey-color: #5C5C5C;
    --orange-color: #C96000;
}

body {
    margin: 0;
    padding: 0;
    background: var(--light-color);
}

header {
    width: 100%;
    height: 112px;
    background: var(--grey-color);
    box-shadow: 0px 10px 7px #00000050;

    display: flex;
    align-items: center;
}

#header-title-holder {
    width: 30%;
    min-width: 320px;
    background: transparent;

    display: flex;
    flex-direction: row;
    align-items: center;
}

#header-links-holder {
    width: 70%;
    background: transparent;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

#header-title {
    font-family: "Newsreader", serif;
    font-weight: 400;
    color: var(--light-color);
    font-size: 30px;
    padding-top: 5px;
}

#logo-img {
    margin-left: 40px;
    margin-right: 20px;
    height: 42px;
}

@media screen and (min-width: 900px) {
    .header-link {
        visibility: visible;
    }
}

@media screen and (max-width: 900px) {
    .header-link {
        visibility: hidden;
    }
}

.header-link {
    color: var(--light-color);
    text-decoration: none;
    font-family: "Inter", serif;
    font-size: 16px;
    padding-top: 5px;
}

.header-link:not(:last-child) {
    margin-right: 67px;
}

.header-link:last-child {
    margin-right: 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-img-container {
    width: 80%;
    max-width: 896px;
    display: grid;
}

#main-people-img {
    width: 100%;
    max-width: 896px;
    height: auto;
    grid-area: 1 / 1;
}

@media screen and (min-width: 850px) {
    #main-img-container {
        margin-top: 120px;
    }

    #main-boxes-holder {
        margin-top: 100px;
    }

    #main-people-img {
        border-radius: 15vh;
    }
}

@media screen and (max-width: 850px) and (min-width: 500px) {
    #main-img-container {
        margin-top: 80px;
    }

    #main-boxes-holder {
        margin-top: 60px;
    }

    #main-people-img {
        border-radius: 8vh;
    }
}

@media screen and (max-width: 500px) {
    #main-img-container {
        margin-top: 40px;
    }

    #main-boxes-holder {
        margin-top: 30px;
    }

    #main-people-img {
        border-radius: 4vh;
    }
}

#main-people-text-holder {
    width: 100%;
    height: 100%;
    background: transparent;

    grid-area: 1 / 1;

    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-around;
}

#main-people-main-text {
    color: white;
    font-family: "Inter", serif;
    font-size: 40px;
    max-width: 390px;

    margin-bottom: 80px;
}

#main-people-external-text {
    display: flex;
    flex-direction: column;

    margin-bottom: 60px;
}

#people-orange-text {
    border-radius: 27px;
    color: black;
    background: var(--orange-color);
    font-family: "Inter", serif;
    font-weight: 500;
    text-align: center;
    font-size: 20px;
    max-width: 260px;
}

#people-regular-text {
    color: white;
    max-width: 350px;
    font-family: "Inter", serif;
    font-weight: 500;
    font-size: 20px;
}

#main-boxes-holder {
    max-width: 896px;
    width: 80%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}


@media screen and (min-width: 1000px) {
    #main-boxes-holder {
        flex-direction: row;
    }
}

@media screen and (max-width: 1000px) {
    #main-boxes-holder {
        flex-direction: column;
    }

    .main-content-box:not(:first-child) {
        margin-top: 20px;
    }
}

.main-content-box {
    width: 251px;
    height: 230px;

    border: 1px solid black;
    border-radius: 45px;

    display: flex;
    flex-direction: column;
}

#dark-box {
    background: var(--grey-color);
    color: white;
}

#light-box {
    background: white;
    color: black;
}

#orange-box {
    background: var(--orange-color);
    color: black;
}

.box-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.box-img {
    margin-top: 16px;
    margin-left: 16px;
}

#magistr-img {
    width: 27px;
    height: 30px;
}

#students-img {
    width: 39px;
    height: 26px;
}

#medal-img {
    width: 37px;
    height: 37px;
}

.box-title {
    font-family: "Inter", serif;
    font-weight: 500;
    font-size: 30px;

    margin: 0;
    padding-top: 15px;
}

#box-title-1 {
    margin-left: 32px;
}

#box-title-2 {
    margin-left: 15px;
}

#box-title-3 {
    margin-left: 5px;
}

.box-text {
    margin-left: 12px;
    width: 230px;
    font-family: "Inter", serif;
    font-weight: 500;
    font-size: 20px;
}